body {
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background: whitesmoke;
    background-image: url("https://svs.gsfc.nasa.gov/vis/a010000/a011600/a011695/s1-1024.jpg");
    background-image: center;
    color: whitesmoke;
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.header {
    padding: 3px;
    text-align:center;
    font-size: 36px;
    background: white;
    opacity: 0.6;
    margin-bottom: 5%;
    color: black;
    width: 100%;
}

.card {
    display: flex;
    justify-content: space-evenly;
    background: white;
    color: black;
    opacity: 0.6;
    padding: 5em 5em 5em 5em;
    border-radius: 30px;
    margin: 5em;
    font-size: 24px;
    font: bolder;
}

.pure-g {
    text-align: center;
}

/* Set the size of the div element that contains the map */
#map {
    height: 700px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    opacity: 0.6;
  }

  .card-map {
      width: 100%;
      height: 100%;
  }

/* CSS for Quiz */
.card #highScores div div {
    padding: 5px;
    font-weight: 600;
}

.card #highScores div div:nth-child(odd){
    background-color: #efe6f9;
}

.card #highScores button{
    margin: 5px 0;
}

.card .codeQuiz { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100% - 110px)
}

.card .codeQuiz section {
    max-width: 50%;
    margin: 0 auto;
}

.card .info {
    display: flex;
    flex-direction: column;
}
.card .infoSection {
    background-color: #41275e;
    color: white;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px 30px;
}

.card .infoSection #quizScores {
    left:40px;
    background-color: #834bc2;
    color: white;    
}

.card .infoSection #timer {
    right:40px;
}

.card #codeQuiz #quizInto {
    text-align: center;
}

.card button {
    background-color:rgb(192, 164, 210);
    color:black;
    font-weight: bold;
    border: none;
    padding:5px;
    border-radius: 5px;
    cursor:pointer;
}

.card button:hover {
    background-color: rgb(172, 116, 206);
    transition: 0.3s;
}


.card #codeQuiz #quizContent button {
    background-color:#41275e;
    border-radius:5px;
    color:white;
    margin: 3px 0;
    padding: 5px 5px ;
    cursor:pointer;
    display: block;
    width: 100%;
    text-align: left;
}

.card #codeQuiz #quizContent button:hover {
    background-color: #613a8d;
}

.card #codeQuiz #quizContent #scoreProvider, .card #codeQuiz #finsihedQuiz #errors {
    border-top: 1px solid #999;
    color: #41275e;
    font-size: 1.3em;
    margin: 0;
    font-style: italic;
    font-weight:700;
    margin: 10px auto;
}

.card #codeQuiz #quizContent #scoreProvider p, .card #codeQuiz #finsihedQuiz #errors p {
    margin:0;
    margin-top:10px;
}

.card #codeQuiz #finishedQuiz #scoreRecords input, .card #codeQuiz #finishedQuiz #scoreRecords button {
    margin-top:5px;
}

.hide {
    display: none;
}

.invisible {
    visibility: hidden;
}

.disable {
    pointer-events: none;
}

.pure-g {
    text-align: center;
}

.modal {
    display: none;
    
    z-index: 1;
    padding-top: 45px;
    padding-bottom: 40px;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    
  }
  .modal-content {
    position: center; 
    background-color: white;
    padding: 20px 10px 20px 10px; 
    margin: auto; 
    margin-bottom: 20px;
    width: 90%;  
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  .close-btn {
    float: right; 
    color: grey; 
    font-size: 24px;  
    font-weight: bold;
    cursor: pointer;
  }
  .close-btn:hover {
    color: black;
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }